{% extends 'base.html.twig' %}

{% block title %}Apartamentos{% endblock %}

{% block additionalStylesheets %}
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
{% endblock %}

{% block body %}
    <div class="side-info d-flex">
        <button type="button" data-toggle="modal" data-target="{{ "#" ~ type }}"
                class="montserrat letter-space1">{{ "Alterar cidade" | upper }}</button>
        <a href="{{ path('houseSearch',{'slug':city, 'type': typeSearch, 'cities':cities}) }}" class="montserrat letter-space1">{{ "Descobrir " | upper ~ typeNameSearch | upper }}</a>
    </div>
    <div class="container" style="border-right: 1px solid #eee; border-left: 1px solid #eee">
        <h1 id="city_name" class="text-green bodoni">{{ city }}</h1>
        {% set myValue = 1 %}
        {% for house in houses %}
            {{ include('search/house_widget.html.twig', {'house':house}) }}
            {% set myValue = myValue + 1 %}
        {% endfor %}
    </div>

    {% block city_widget %}
        {{ include('index/city_widget.html.twig', {'cities':cities}) }}
    {% endblock %}
{% endblock %}